---
import "../../styles/raisin.css"

const { title, links } = Astro.props

class link {
    title: string
    url: string

    constructor(title: string, url: string) {
        this.title = title
        this.url = url
    }
}

class raisin {
    title: string
    links: link[]

    constructor(title: string, links: link[]) {
        this.title = title
        this.links = links
    }
}

let currentRaisin = new raisin(
    title,
    JSON.parse(links)
)

---
<raisin>
    <raisin-header>
        <p class="raisin-title">{currentRaisin.title}</p>
    </raisin-header>
    <raisin-links>
        {currentRaisin.links.map((link) => 
            <a class="raisin-link" href={link.url}>{link.title}</a> 
        )}
    </raisin-links>
</raisin>
<!-- This is completely unreadable? -->