// //////// RAISIN //////// //

-
  var design = {
    ' godly.website': 'https://godly.website/',
    '󰸌 found.color': 'https://foundcolor.co/',
    ' colorcontrast.app': 'https://colorcontrast.app/',
    '󰅴 developer.mozilla': 'https://developer.mozilla.org/'
  }


mixin raisin(title, data)
  raisin
    raisin-header 
      p.raisin-title #{ title }
    raisin-links
      each val, key in data
        a.raisin-link(href=val, target="_blank", rel="noopener noreferrer") #{ key }
