/************** MYRTILLE **************/

myrtille {
  grid-row: span 2;
}

.myrtille-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--base);
  border: 2px solid var(--sky);
  border-radius: var(--border-radius);
  transition: 100ms ease-in-out;
  animation: fadein-page 300ms ease-out normal backwards;
}

.myrtille-link span {
  text-decoration: none;
  font-size: 4em;
  margin-bottom: auto;
  color: var(--sky);
}
