raisin {
	display: flex;
	flex-direction: column;
	grid-row: span 4;
	grid-column: span 2;
	justify-content: space-between;
	padding: var(--padding-module);
	background-color: var(--background-color);
	border: var(--border-size) solid var(--border-color);
	border-radius: var(--border-radius);
	animation: var(--popin-anim);
}

.raisin-title {
	color: var(--text-color);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-subheading);
}

raisin-links {
	display: flex;
	flex-direction: column;
}

.raisin-link {
	padding: var(--padding-module-list);
	overflow: hidden;
	color: var(--text-color);
	font-size: var(--font-size-body);
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
	border-top: 1px dashed var(--text-color);
	outline: none;
}

.raisin-link:first-child {
	border-top: none;
}

.raisin-link:hover {
	color: var(--accent-one);
	text-decoration: wavy underline;
}
