/************** SEARCH **************/

pp-search {
  display: flex;
  grid-row: span 2;
  grid-column: span 6;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-0);
  background-color: var(--pink);
  border-radius: var(--border-radius);
  animation: fadein-page 250ms ease-out normal backwards;
  animation-delay: 150ms;
}

.pp-search-icon {
  font-size: 4vh;
  color: var(--base);
  padding: 0;
}

.pp-search-input {
  flex: 1;
  min-width: 0;
  margin: 0 var(--spacing-000) 0 24px;
  padding: var(--spacing-0000) 0;
  color: var(--base);
  font-size: var(--scale-2);
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px dashed var(--base);
  box-shadow: none;
}

pp-search textarea:focus,
input:focus {
  outline: none;
}
