@import "./myrtille.css";
@import "./raisin.css";
@import "./clock.css";
@import "./search.css";
@import "./todoist.css";
@import "./weather.css";

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* ---------------------------------- */

@font-face {
	font-family: Inter;
	src: local("Inter Variable") format("ttf");
}

@font-feature-values Inter {
	@character-variant {
		cv01: 1;
		cv02: 2;
		cv03: 3;
		cv04: 4;
		cv05: 5;
		cv06: 6;
		cv07: 7;
		cv08: 8;
		cv09: 9;
		cv10: 10;
		cv11: 11;
		cv12: 12;
		cv13: 13;
		alt-1: 1; /* Alternate one */
		alt-3: 9; /* Flat-top three */
		open-4: 2; /* Open four */
		open-6: 3; /* Open six */
		open-9: 4; /* Open nine */
		lc-l-with-tail: 5; /* Lower-case L with tail */
		simplified-u: 6; /* Simplified u */
		alt-double-s: 7; /* Alternate German double s */
		uc-i-with-serif: 8; /* Upper-case i with serif */
		uc-g-with-spur: 10; /* Capital G with spur */
		single-story-a: 11; /* Single-story a */
		compact-lc-f: 12; /* Compact f */
		compact-lc-t: 13; /* Compact t */
	}
	@styleset {
		ss01: 1;
		ss02: 2;
		ss03: 3;
		ss04: 4;
		ss05: 5;
		ss06: 6;
		ss07: 7;
		ss08: 8;
		open-digits: 1; /* Open digits */
		disambiguation: 2; /* Disambiguation (with zero) */
		disambiguation-except-zero: 4; /* Disambiguation (no zero) */
		round-quotes-and-commas: 3; /* Round quotes &amp; commas */
		square-punctuation: 7; /* Square punctuation */
		square-quotes: 8; /* Square quotes */
		circled-characters: 5; /* Circled characters */
		squared-characters: 6; /* Squared characters */
	}
}

@font-face {
	font-family: "Symbols Nerd Font";
	src: local("Symbols Nerd Font") format("ttf");
}

/* ---------------------------------- */

:root {
	/* Colors */
	/* (copyright Catppuccin Frappe) */
	--rosewater: #f2d5cf;
	--flamingo: #eebebe;
	--pink: #f4b8e4;
	--mauve: #ca9ee6;
	--red: #e78284;
	--maroon: #ea999c;
	--peach: #ef9f76;
	--yellow: #e5c890;
	--green: #a6d189;
	--teal: #81c8be;
	--sky: #99d1db;
	--sapphire: #85c1dc;
	--blue: #8caaee;
	--lavender: #babbf1;
	--text: #c6d0f5;
	--subtext1: #b5bfe2;
	--subtext0: #a5adce;
	--overlay2: #949cbb;
	--overlay1: #838ba7;
	--overlay0: #737994;
	--surface2: #626880;
	--surface1: #51576d;
	--surface0: #414559;
	--base: #303446;
	--mantle: #292c3c;
	--crust: #232634;

	/* Fonts */
	--font-family-sans: "Inter", "Symbols Nerd Font";
	--font-family: "Inter", "Symbols Nerd Font";
	--font-weight-regular: 400;
	--font-weight-bold: 600;
	--font-size-heading: 1.5rem;     /* 24px */
	--font-size-subheading: 1.25rem; /* 20px */
	--font-size-body: 0.875rem;      /* 16px */
	--font-heading: var(--font-weight-bold) var(--font-size-heading)
		var(--font-family);
	--font-subheading: var(--font-weight-bold) var(--font-size-subheading)
		var(--font-family);
	--font-body: var(--font-weight-regular) var(--font-size-body)
		var(--font-family);

	/* Borders */
	--border-radius: 20px;
	--border-size: 2px;

	/* Loader dots */
	--loader-dot-size: 16px;
	--loader-dots-gap: 10px;

	/* Max width of whole layout */
	--max-width: 120px;

	/* Padding */
	--padding-outer: 64px;
	--padding-module: 12px 16px;
	--padding-module-list: 0.25em 0;

	/* Animations */
	--popin-anim: module-popin 250ms ease-out normal backwards;
	--fadein-anim: module-fadein 400ms ease-in-out;

	/* Gaps */
	--grid-gap: 24px;
}

/* ---------------------------------- */

html {
	background-color: var(--base);
}

body {
	/* padding: var(--spacing-4); */
	padding: var(--padding-outer);
	font-family: var(--font-family-sans);
}

grid {
	margin: auto;
	display: grid;
	grid-auto-rows: 32px;
	grid-auto-flow: dense;
	grid-gap: var(--grid-gap);
	grid-template-columns: repeat(auto-fit, minmax(var(--max-width), 1fr));
}

pomme {
	grid-row: span 2;
	background-color: var(--base);
	border: var(--border-size) solid var(--overlay0);
	border-radius: var(--border-radius);
	animation: module-popin 200ms ease-out normal backwards;
}

pomme-alt {
	grid-row: span 2;
	background-color: var(--text);
	border-radius: var(--border-radius);
	animation: module-popin 200ms ease-out normal backwards;
}

pp-loader {
	display: grid;
	grid-gap: var(--loader-dots-gap);
	grid-template-areas:
		"pp-loader-dot pp-loader-dot"
		"pp-loader-dot pp-loader-dot";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

pp-loader-alt {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

pp-loader-dot {
	width: var(--loader-dot-size);
	height: var(--loader-dot-size);
	background-color: var(--base);
	border-radius: 50%;
	animation: loader-animation 1s linear 1s infinite alternate;
}

pp-loader-dot:nth-child(1) {
	animation-delay: 0s;
}

pp-loader-dot:nth-child(2) {
	animation-delay: -0.2s;
}

pp-loader-dot:nth-child(3) {
	animation-delay: -0.4s;
}

pp-loader-dot:nth-child(4) {
	animation-delay: -0.6s;
}

.error-notification {
	color: var(--text);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-subheading);
}

/* ---------------------------------- */

@keyframes module-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes loader-animation {
	100% {
		background-color: var(--mauve);
	}
}

@keyframes module-popin {
	0% {
		transform: scale(0);
	}
	70% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
