todoist {
	display: flex;
	overflow: scroll;
	flex-direction: column;
	grid-row: span 4;
	grid-column: span 3;
	padding: var(--padding-module);
	background-color: var(--sky);
	border-radius: var(--border-radius);
	animation: var(--popin-anim);
}

todoist-error-container {
	display: none;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--base);
	animation: module-fadein 500ms ease-in-out;
}

todoist-title > p {
	color: var(--base);
  	font-weight: var(--font-weight-bold);
  	font-size: var(--font-size-subheading);
}

todoist-tasks {
	position: relative;
	margin-top: auto;
	display: flex;
	flex-direction: column;
}

todoist-task {
	padding: var(--padding-module-list);
	overflow: hidden;
	color: var(--base);
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	border-top: 1px dashed var(--base);
	outline: none;
}

todoist-task:first-child {
	border-top: none;
}

todoist-task > span {
	font: var(--font-body);
	white-space: nowrap;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.todoist-task-label {
	margin-left: 0.5em;
	margin-right: 6em;
}

.todoist-task-due {
	position: absolute;
	right: 0;
	flex-grow: 1;
}

todoist-checkbox:hover {
	cursor: pointer;
}

@keyframes strikethrough {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes task-slide-up {
	0% {
		top: 1.35em;
	}
	100% {
		top: 0;
	}
}

.todoist-task-strikethrough {
	position: relative;
}

.todoist-task-strikethrough::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--base);
	animation: 0.3s cubic-bezier(0.5, 1, 0.89, 1) strikethrough;
}

.todoist-task-slide-up {
	position: relative;
	animation: 0.3s cubic-bezier(0.37, 0, 0.63, 1) task-slide-up;
}

/* hacky way to make the top border disappear when animation starts */
todoist-task.todoist-task-slide-up:nth-child(2) {
	border-top: 0;
}
