---
import "../../styles/clock.css"
---

<pp-clock>
    <pp-clock-inner>
        <pp-clock-front>
            <p class="pp-clock-time">front</p>
        </pp-clock-front>
        <pp-clock-back>
            <p class="pp-clock-date">back</p>
        </pp-clock-back>
    </pp-clock-inner>
</pp-clock>